<ion-header>
  <ion-toolbar>
    <ion-title>SafePlaces - Liste</ion-title>
    <ion-buttons slot="end">
      <!-- Bouton pour accéder à l'écran d'ajout (Tab2) -->
      <ion-button [routerLink]="['/tabs/tab2']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Liste des lieux -->
  <ion-list *ngIf="places.length; else empty">
    <ion-item *ngFor="let p of places" [routerLink]="['/place', p.id]">
      <ion-label>
        <h2>{{ p.name }}</h2>
        <p>{{ p.category }} • {{ p.address }}</p>
        <p *ngIf="p.distanceLabel">{{ p.distanceLabel }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Message si la localisation n'est pas disponible -->
  <ion-text *ngIf="locationError" class="ion-padding">
    {{ locationError }}
  </ion-text>

  <!-- Message si aucun lieu -->
  <ng-template #empty>
    <ion-text class="ion-padding">
      Aucun lieu enregistré pour l’instant. Touchez le bouton + pour en ajouter un.
    </ion-text>
  </ng-template>

</ion-content>
